# <font color=blue>Assignments for "Data Cleaning - Missing Values"</font>

In this assignment, you are going to use a dataset related to the US education system. Please download the ([dataset](https://www.kaggle.com/noriuk/us-education-datasets-unification-project/home)) from Kaggle. You are going to use `states_all.csv` within this dataset.

To complete this assignment, submit the Github link of the Jupyter notebook file containing solutions to the questions below. You can talk to your mentor on your head or ask Slack at office time.

1. Find the types of variables in the dataset and the missing (null) ratio of each variable.

In [60]:
import pandas as pd 
states=pd.read_csv("data/states_all.csv",index_col="PRIMARY_KEY",low_memory=False)

states.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
PRIMARY_KEY,,,,,,,,,,,,,,,,,,,,,
1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [61]:
states.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1715 entries, 1992_ALABAMA to 2019_WYOMING
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATE                         1715 non-null   object
 1   YEAR                          1715 non-null   int64
 2   ENROLL                        1224 non-null   float64
 3   TOTAL_REVENUE                 1275 non-null   float64
 4   FEDERAL_REVENUE               1275 non-null   float64
 5   STATE_REVENUE                 1275 non-null   float64
 6   LOCAL_REVENUE                 1275 non-null   float64
 7   TOTAL_EXPENDITURE             1275 non-null   float64
 8   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 9   SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 10  OTHER_EXPENDITURE             1224 non-null   float64
 11  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 12  GRADES_PK_G                   1542 non-null   float64
 13  GRADES_KG_G                   1632 non-null   float64
 14  GRADES_4_G                    1632 non-null   float64
 15  GRADES_8_G                    1632 non-null   float64
 16  GRADES_12_G                   1632 non-null   float64
 17  GRADES_1_8_G                  1020 non-null   float64
 18  GRADES_9_12_G                 1071 non-null   float64
 19  GRADES_ALL_G                  1632 non-null   float64
 20  AVG_MATH_4_SCORE              565 non-null    float64
 21  AVG_MATH_8_SCORE              602 non-null    float64
 22  AVG_READING_4_SCORE           650 non-null    float64
 23  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(1)
memory usage: 335.0+ KB

In [71]:
def print_missing_percents():
    missings=(states.isnull().sum()/len(states) ) * 100 
    print("Missing values percents by columns:\n" + "-"*50)
    for i,m in zip(missings.index,missings):
        print("{}  : {:.3f}%".format(i.ljust(30),m))
        
print_missing_percents()

Missing values percents by columns:
--------------------------------------------------
STATE                           : 0.000%
YEAR                            : 0.000%
ENROLL                          : 28.630%
TOTAL_REVENUE                   : 25.656%
FEDERAL_REVENUE                 : 25.656%
STATE_REVENUE                   : 25.656%
LOCAL_REVENUE                   : 25.656%
TOTAL_EXPENDITURE               : 25.656%
INSTRUCTION_EXPENDITURE         : 25.656%
SUPPORT_SERVICES_EXPENDITURE    : 25.656%
OTHER_EXPENDITURE               : 28.630%
CAPITAL_OUTLAY_EXPENDITURE      : 25.656%
GRADES_PK_G                     : 10.087%
GRADES_KG_G                     : 4.840%
GRADES_4_G                      : 4.840%
GRADES_8_G                      : 4.840%
GRADES_12_G                     : 4.840%
GRADES_1_8_G                    : 40.525%
GRADES_9_12_G                   : 37.551%
GRADES_ALL_G                    : 4.840%
AVG_MATH_4_SCORE                : 67.055%
AVG_MATH_8_SCORE                : 64.898%
AVG_READING_4_SCORE             : 62.099%
AVG_READING_8_SCORE             : 67.230%

2. You may have noticed that our data has a year column. For now, forget about the year data and assume that each observation was made in the same year. Consider how you can fill in missing values for each variable. Filling in the missing values with a value is meaningful for which variables and for which ones?

In [ ]:
Tree types of variables exists in dataset; the revenue, expenditure and grades values. 
To fill the missing value without affecting the our target result, we can safely fill the missings values 
by the average of that variable for whole dataset.

In [80]:
# for each column having missing value, filter missing value containing cells and assing average of the field to that cells.

for column,mis_percent in zip(missings.index,missings):
    if mis_percent==0:
        continue
    #print("filling na for {} with {}".format(column,states[column].mean()))
    states[column].fillna(states[column].mean(),inplace=True)

print_missing_percents()

Missing values percents by columns:
--------------------------------------------------
STATE                           : 0.000%
YEAR                            : 0.000%
ENROLL                          : 0.000%
TOTAL_REVENUE                   : 0.000%
FEDERAL_REVENUE                 : 0.000%
STATE_REVENUE                   : 0.000%
LOCAL_REVENUE                   : 0.000%
TOTAL_EXPENDITURE               : 0.000%
INSTRUCTION_EXPENDITURE         : 0.000%
SUPPORT_SERVICES_EXPENDITURE    : 0.000%
OTHER_EXPENDITURE               : 0.000%
CAPITAL_OUTLAY_EXPENDITURE      : 0.000%
GRADES_PK_G                     : 0.000%
GRADES_KG_G                     : 0.000%
GRADES_4_G                      : 0.000%
GRADES_8_G                      : 0.000%
GRADES_12_G                     : 0.000%
GRADES_1_8_G                    : 0.000%
GRADES_9_12_G                   : 0.000%
GRADES_ALL_G                    : 0.000%
AVG_MATH_4_SCORE                : 0.000%
AVG_MATH_8_SCORE                : 0.000%
AVG_READING_4_SCORE             : 0.000%
AVG_READING_8_SCORE             : 0.000%

In [78]:
states.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
PRIMARY_KEY,,,,,,,,,,,,,,,,,,,,,
1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

3. Now it's time to consider the factor of time! Review your answer in question 2 and fill in the missing data based on the values observed during that year. For example, if you want to fill a value with an average value, calculate the average of that year.

In [103]:
#reload data again.

states=pd.read_csv("data/states_all.csv",index_col="PRIMARY_KEY",low_memory=False)
states.head()

,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
PRIMARY_KEY,,,,,,,,,,,,,,,,,,,,,
1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,735036.0,...,57948.0,58025.0,41167.0,NaN,NaN,731634.0,208.0,252.0,207.0,NaN
1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,350902.0,...,9748.0,8789.0,6714.0,NaN,NaN,122487.0,NaN,NaN,NaN,NaN
1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,1007732.0,...,55433.0,49081.0,37410.0,NaN,NaN,673477.0,215.0,265.0,209.0,NaN
1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,483488.0,...,34632.0,36011.0,27651.0,NaN,NaN,441490.0,210.0,256.0,211.0,NaN
1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,8520926.0,...,418418.0,363296.0,270675.0,NaN,NaN,5254844.0,208.0,261.0,202.0,NaN

In [102]:
# for each column having missing value, filter missing value containing cells and assing average of the field for that year to that cells.

for column in states.columns:
    if states[column].isnull().sum()>0:
        print("filling na for " + column)
        if states[column].isnull(): 
            states[column].fillna(states.groupby("YEAR")[column].transform('mean'), inplace=True )
        print(states.groupby(["YEAR"])[column].mean())

print_missing_percents()

Missing values percents by columns:
--------------------------------------------------
STATE                           : 0.000%
YEAR                            : 0.000%
ENROLL                          : 27.230%
TOTAL_REVENUE                   : 24.140%
FEDERAL_REVENUE                 : 24.140%
STATE_REVENUE                   : 24.140%
LOCAL_REVENUE                   : 24.140%
TOTAL_EXPENDITURE               : 24.140%
INSTRUCTION_EXPENDITURE         : 24.140%
SUPPORT_SERVICES_EXPENDITURE    : 24.140%
OTHER_EXPENDITURE               : 27.230%
CAPITAL_OUTLAY_EXPENDITURE      : 24.140%
GRADES_PK_G                     : 3.090%
GRADES_KG_G                     : 3.090%
GRADES_4_G                      : 3.090%
GRADES_8_G                      : 3.090%
GRADES_12_G                     : 3.090%
GRADES_1_8_G                    : 39.359%
GRADES_9_12_G                   : 36.268%
GRADES_ALL_G                    : 3.090%
AVG_MATH_4_SCORE                : 59.825%
AVG_MATH_8_SCORE                : 59.825%
AVG_READING_4_SCORE             : 56.735%
AVG_READING_8_SCORE             : 59.825%

4. This time, fill in the missing values by interpolating.

Compare your answers on the second, third and fourth questions. Do you notice a meaningful difference?